<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <jmxConfigurator />
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

    <property file="src/main/resources/application.yml" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        </encoder>
    </appender>

    <logger name="com.gopay.app" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.eclipse.jetty.server.session" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.gopay" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>